.container-footer {
    width: 100%;
    min-height: 150px;
    background-color: rgb(34, 39, 60);
    padding: 30px;
    border-top: 1px solid rgb(200, 200, 200);
    
    .container {
        display: flex;
        justify-content: space-between;
        align-items: flex-start;
        color: #fff;

        ul {
            padding-left: 0;
            list-style-type: none;
            text-align: left;
        }

        li {
            margin-bottom: 5px;
        }

        .newsletter {
            min-width: 40%;
            text-align: left;

            .form {
                display: flex;
                margin-top: 10px;
            }

            .link-suscripcion {
                margin-left: 3px;
                border-radius: 4px;
            }
        }
    }
}
