.container-search {
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100%;

    .container-header {
        width: 80%;
        padding-left: 30px;
        display: flex;
        align-items: center;
        justify-content: flex-start;
    }
    
    .titulo {
        margin-bottom: 20px;
        color: rgb(34, 39, 60);
    }

    .button-online {
        border: 1px solid rgb(34, 39, 60);
        border-radius: 0;
        padding: 10px 0;
        width: 98%;
        margin-right: 0;
        background-color: #fff;
        color: rgb(34, 39, 60);

        &:hover {
            background-color: rgb(34, 39, 60);
            color: #fff;
        }
    }

    .button-presencial {
        border-radius: 0;
        width: 98%;
        margin-right: 0;
        background-color: rgb(34, 39, 60);
        color: #fff;
    }

    .col {
        padding: 0;
    }
}